{% extends './base.html' %}
{% load i18n %}
{% block title %} {% trans "Afficher les evenements" %} {% endblock %}
{% block content %}

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <p> Liste des villes disponibles :
        {% for x in ville %}
        {{ x }}
        {% endfor %}
    </p>
    <input type="submit" value="Modifier" />
</form>

{% for x in all %}

<p><!--Affichage event --->
    Nom : {{ x.name }} <br/>
    Description : {{ x.description }}<br/>
    Actif : {{ x.active }}<br/>
    Debut : {{ x.start_datetime }}<br/>
    Organisateur : {{ x.organizer.name }}<br/>
    Ville : {{ x.ville }}<br/>
{% if x.organizer == asso %} <a href="/register/modifevent/{{x.id}}"> Modifier l'event</a>{% endif %}
</p>

{% endfor %}
{% endblock %}