{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "style1.css" %}"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div id="bloc_page">
    <header>
        <div id="titre principal">
            <div id="logo">
                <img src="{% static "images/share_a_meal.png" %}" alt="Logo de Share a meal"/>
            </div>
            <h2>{% trans "Site pour les maraudes" %}</h2>
        </div>

        {% include 'langform.html' with lang="fr" language="Français" %}
        {% include 'langform.html' with lang="en" language="English" %}
        <nav>
            <ul>
                <li><a href="/register/">{% trans "Accueil" %}</a></li>
                <li><a href="/register/connexion/">{% trans "Se connecter" %}</a></li>
                <li><a href="/register/deconnexion">{% trans "Se deconnecter" %}</a></li>
                <li><a href="/register/afficheasso">{% trans "manage_asso" %}</a></li>
                <li><a href="/register/afficherevent">{% trans "Liste des maraudes" %}</a></li>
                <li><a href="/register/creerevent">{% trans "create_event" %}</a></li>
            </ul>
        </nav>
    </header>

    <div id="banniere_image">
        <div id="banniere_description">
            {% trans "Aidez nous à rendre accessible les maraudes au plus grand nombre" %}
        </div>
    </div>

    <section>
        <article>
            {% block content %}
            {% endblock %}
        </article>
        <aside>
            <h1 id="share">{% trans "A propos de Share a meal " %}</h1>
            <img src="{% static "/tp_images_polices/images/bulle.png" %}" alt="" id="fleche_bulle"/>
            <p id="photo_shareameal"><img src="{% static "/images/share_a_meal.png" %}" alt="Logo de Share A Meal"/></p>
            <p>{% trans "descritpion_shareameal" %}</p>

        </aside>
    </section>

    <footer>

        <div id="mail">
            <h1>{% trans "Par courriel" %}</h1>
            <p>{% trans "email_desc" %} : ...</p>

        </div>
        <div id="tel">
            <h1>{% trans "Par téléphone" %}</h1>
            <p>{% trans "phone_desc" %} : ...</p>
        </div>
    </footer>
</div>
</body>
</html>

