{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "style1.css" %}"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div id="bloc_page">
    <header>
        <div id="titre principal">
            <div id="logo">
                <img src="{% static "images/share_a_meal.png" %}" alt="Logo de Share a meal"/>
            </div>
            <h2>Site pour les maraudes</h2>
        </div>

        {% include 'langform.html' with lang="fr" language="Français" %}
        {% include 'langform.html' with lang="en" language="English" %}

        <nav>
            <ul>
                <li><a href="/register/">{% trans "Accueil" %}</a></li>
                <li><a href="/register/connexion/">Se connecter</a></li>
                <li><a href="/register/deconnexion">Se déconnecter</a></li>
                <li><a href="/register/afficheasso">Gérer son association</a></li>
                <li><a href="/register/afficherevent">Liste des maraudes</a></li>
                <li><a href="/register/creerevent">Créer des evenements</a></li>
            </ul>
        </nav>
    </header>

    <div id="banniere_image">
        <div id="banniere_description">
            Aidez nous à rendre accessible les maraudes au plus grand nombre
        </div>
    </div>

    <section>
        <article>
            {% block content %}
            {% endblock %}
        </article>
        <aside>
            <h1 id="share">A propos de Share a meal</h1>
            <img src="{% static "/tp_images_polices/images/bulle.png" %}" alt="" id="fleche_bulle"/>
            <p id="photo_shareameal"><img src="{% static "/images/share_a_meal.png" %}" alt="Logo de Share A Meal"/></p>
            <p>Un groupe d'étudiants qui à travers ce site s'attache avant tout au respect de la dignité humaine. Par
                l'engagement des associations, nous assurons une solidarité et un partage qui s'entendent envers les
                personnes défavorisées.</p>

        </aside>
    </section>

    <footer>

        <div id="mail">
            <h1>Par courriel</h1>
            <p>Nous écrire à l'adresse mail suivante : ...</p>

        </div>
        <div id="tel">
            <h1>Par téléphone</h1>
            <p>Nous appeler sur le numéro suivant : .....</p>
        </div>
    </footer>
</div>
</body>
</html>

