<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8"/>
            <link rel="stylesheet" href="../../static/style2.css"/>
            <title>S'inscrire-Se connecter</title>
        </head>

        <body>
            <div id="bloc_page">
                <header>
                    <div id="titre principal">
                        <div id="logo">
                            <img src="../../static/images/share_a_meal.png" alt = "Logo de Share a meal"/>
                        </div>
                        <h2>Site pour les maraudes</h2>
                    </div>
                    
                    <nav>
                        <ul>
                            
                            <li><a href ="">Accueil</a></li>
                            <li><a href ="">Se connecter</a></li>
                            <li><a href ="">A propos</a></li>
                            <li><a href ="">Liste des maraudes</a></li>
                        </ul>
                        
                    </nav>
                </header>

                <div id= "banniere_image">
                    <div id="banniere_description">
                        Exemple d'associations
                        <a href ="login.html" class = "bouton_rouge">Voir la liste des associations<img src="../../static/tp_images_polices/images/flecheblanchedroite.png" alt=""/></a>


                    </div>
                </div>

                <section>
                    <article>
                        <form method="POST" action="traitement.php">
                            <fieldset id="némero1">
                                <legend>Créer son association</legend> <!--titre du fieldset-->

                                <label for="nom">Nom de l'association </label>
                                <input type="text" name ="nom" id="nom" placeholder="Ex : Ftour du coeur"/><br />

                                <label for="Date">Date de création </label>
                                <input type="date" name ="Date" id="Date"/><br />

                                <label for="ville">Ville </label>
                                <select name="ville" id="ville">
                                    <option value="lyon">Lyon</option>
                                    <option value="paris">Paris</option>
                                    <option value="grenoble">Grenoble</option>
                                </select><br />

                                <label for="Email">Votre adresse électronique ?</label>
                                <input type="email" name ="Email" id="Email"/><br />

                                <label for="email1">Confirmez votre adresse électronique</label>
                                <input type="email" name ="email1" id="email1"/><br />

                                <label for="pseudo">Votre pseudo ?</label>
                                <input type="text" name ="pseudo" id="pseudo" placeholder="Choisir login"/><br />

                                <label for="mdp">Votre mot de passe ?</label>
                                <input type="password" name ="mdp" id="mdp" placeholder="Entrer mot de passe"/><br />

                                <label for="mdp1">Confirmez votre mot de passe</label>
                                <input type="password" name ="mdp1" id="mdp1"/><br /><br/>

                                
                                <input type="submit" value="Créer"/>
                            </fieldset>

                            <fieldset id="numero2" >
                                <legend>S'authentifier</legend>
                                <label for="login">Votre login</label>
                                <input type="text" name ="login" id="login" placeholder="Ex : Ftducoeur98"/><br />

                                <label for="mdp2">Votre mot de passe </label>
                                <input type="password" name ="mdp2" id="mdp2" placeholder="Entrer mot de passe"/><br /><br /><br /><br/><br/><br/><br/><br/><br/>
                                <input type="submit" value="Valider"/>

                            </fieldset>


                        </form>
                    </article>
                    <aside>
                        <h1 id ="share">A propos de Share a meal</h1>
                        <img src="../../static/tp_images_polices/images/bulle.png" alt="" id="fleche_bulle"/>
                        <p id="photo_shareameal"><img src="../../static/images/share_a_meal.png" alt="Logo de Share A Meal"/></p>
                        <p>Un groupe d'étudiant qui à travers ce site s'attache avant tout au respect de la dignité humaine. Par l'engagement des associations, nous assurons une solidarité et un partage qui s'entendent envers les personnes défavorisées.</p>
                    </aside>
                </section>

                <footer>
                    
                    <div id="mail">
                        <h1>Par courriel</h1>
                        <p>Nous écrire à l'adresse mail suivante : ...</p>
                    
                    </div>
                    <div id="tel">
                        <h1>Par téléphone</h1>
                        <p>Nous appeler sur le numéro suivant : .....</p>
                    </div>
                </footer>
            </div>
        </body>
</html>

