<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8"/>
            <link rel="stylesheet" href="../../static/event.css"/>
            <title>Modifier évnènements</title>
        </head>

        <body>
            <div id="bloc_page">
                <header>
                    <div id="titre principal">
                        <div id="logo">
                            <img src="../../static/images/share_a_meal.png" alt = "Logo de Share a meal"/>
                        </div>
                        <h2>Site pour les maraudes</h2>
                    </div>
                    
                    <nav>
                        <ul>
                            
                            <li><a href ="ancienindex.html">Accueil</a></li>
                            <li><a href ="#">Se connecter</a></li>
                            <li><a href ="#share">A propos</a></li>
                            <li><a href ="#liste">Évènements</a></li>
                        </ul>
                        
                    </nav>
                </header>

                <div id= "banniere_image">
                    <div id="banniere_description">
                        Exemple d'associations
                        <a href ="login.html" class = "bouton_rouge">Créer une association<img src="../../static/tp_images_polices/images/flecheblanchedroite.png" alt=""/></a>


                    </div>
                </div>

                <section>
                    <article>
                        <h1>Modification d'évènements créés </h1><br />
                        <form method="POST" action=".">
                            <fieldset id="numero1">
                                <legend>Modifier son évènement</legend> <!--titre du fieldset-->

                                <label for="nom">Nom de l'association </label>
                                <input type="text" name ="nom" id="nom" placeholder="Ex : Ftour du coeur"/><br /><br /><br />

                                <label for="name">Nom de l'événènement </label>
                                <input type="text" name ="name" id="name"/><br /><br /><br />

                                <label for="ville">Ville </label>
                                <select name="ville" id="ville">
                                    <option value="lyon">Lyon</option>
                                    <option value="paris">Paris</option>
                                    <option value="grenoble">Grenoble</option>
                                </select><br /><br /><br />
                                
                                <label for="Date">Date  de l'évènement</label>
                                <input type="date" name ="Date" id="Date"/><br /><br /><br />

                                <label for="Time">Date  de l'évènement</label>
                                <input type="time" name ="Time" id="Time"/><br /><br /><br />
                               
                                <label for="desc">Description</label>
                                <textarea type="text" name="desc" id="desc"></textarea><br /><br /><br /><br/><br/><br/><br/>
                                
                                <input type="submit" value="Modifier"/>
                            </fieldset>
                         </form>
                    </article>
                    <aside>
                        <h1 id ="share">A propos de Share a meal</h1>
                        <img src="../../static/tp_images_polices/images/bulle.png" alt="" id="fleche_bulle"/>
                        <p id="photo_shareameal"><img src="../../static/images/share_a_meal.png" alt="Logo de Share A Meal"/></p>
                        <p>Un groupe d'étudiant qui à travers ce site s'attache avant tout au respect de la dignité humaine. Par l'engagement des associations, nous assurons une solidarité et un partage qui s'entendent envers les personnes défavorisées.</p>
                    </aside>
                </section>

                <footer>
                    
                    <div id="mail">
                        <h1>Par courriel</h1>
                        <p>Nous écrire à l'adresse mail suivante : ...</p>
                    
                    </div>
                    <div id="tel">
                        <h1>Par téléphone</h1>
                        <p>Nous appeler sur le numéro suivant : .....</p>
                    </div>
                </footer>
            </div>
        </body>
</html>

