
{%  extends "public/base.html" %}
{% block content %}
    <div style="display: table-row; margin:auto;" >
        <div style="width: 300px; display: table-cell;  vertical-align:middle;">
            <img class="rounded-circle" width="400" src="/media/fakestudent.jpg" alt=""><img>
        </div>
        <div style="width: 600px; display: table-cell; vertical-align: middle; text-align: center" >
            <h1>    About us !  </h1>
        </div>
    </div>
    <div style="margin: 30px;">
        <p>
            We are a group of students who wants a better organisation for associations in order to
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec varius risus. Proin ante erat, elementum eget pretium eget, dapibus quis ante. Phasellus velit est, lacinia a urna eget, hendrerit laoreet nunc. In luctus congue turpis sollicitudin molestie. Quisque in felis nibh. Sed elit arcu, facilisis ac lorem at, convallis faucibus purus. Donec tincidunt lacus vitae lectus egestas ullamcorper. Curabitur suscipit vitae tellus sed porta. Sed et arcu erat. Nam quis tortor velit. Integer facilisis ut orci vel rutrum. Ut volutpat ipsum in magna scelerisque ultricies. Suspendisse rhoncus, erat vitae mattis auctor, dolor lacus lacinia velit, eu semper augue nibh eget libero. Maecenas sit amet accumsan ipsum, id luctus orci. Aliquam ac volutpat enim. Aliquam vel maximus lorem, at iaculis justo.
        </p>
    </div>
    <div style="position: absolute; margin-left:30px; margin-top:100px;">
        contact us at: ShareAmealContact@gmail.com
    </div>


{% endblock content %}
